trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,name,container,status,exit,start,realtime,%cpu,rss,hash,native_id,process,tag,module,attempt,submit,complete,duration,%mem,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
    raw = true
}

timeline {
    enabled = true
    file = 'pipeline_timeline.html'
}

profiles {
  standard {
    process.executor = 'local'
    process.errorStrategy = 'finish'
    process.maxRetries = 1
  }

  cluster {
    process.executor = 'uge'
    executor.queueSize = 200
    process.penv = 'smp'
    process.errorStrategy = 'retry'
    process.maxRetries = 3
  }
}
